<html>
<head>
	<title>Quotes</title>
</head>
<body>
	<h2>Welcome {{request.session.user.first_name}}</h2>
	<h3><a href='logout'>Logout</a></h3>
	<h2> Quotable Quotes</h2>
		{% for quotes in quote %}
			<h2>Author: {{quotes.auther}}</h2>
			<p>Quote: {{quotes.quotes}}</p>
			<h4>Posted by <a href ='/{{users.id}}/user/show'>{{quotes.user}}</a></h4>
		{% endfor %}
	<h2>Contribute a Quote</h2>
	{% if messages %}
		{% for message in messages %}
			<p>{{message}}</p>
		{% endfor %}
	{% endif %}
	<form action = '/submit_quote' method = 'post'>
		{% csrf_token %}
		Quoted By:<input type = 'text' name ='author'>
		Quote:<input type = 'text' name = 'quote'>
		<input type = 'submit' name ='Submit'>
	</form> 





